
body{margin: 0px; background-image: url(bg1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.full-box{
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(139, 137, 137, 0.457);
}
*{margin: 0;padding: 0;            box-sizing: border-box;
}
*::selection{
    background-color: yellow;
    color: red;
}
/* first-part  */
div.first-part h1{
    font-family: sans-serif;
    font-weight: 1000;
    letter-spacing: 2.5px;
    text-align: center;
    padding: 14px;
    box-sizing: border-box;
}
span.address{
    display: block;
    text-align: center;
    text-shadow: 1px 1px whitesmoke;
    font-weight: bolder;
}
span.quote{
    display: block;
    margin-top: 12px;
    font-style: italic;
    color: crimson;
    font-weight: bolder;
    text-align: center;
    font-size: 19px;
    text-shadow: 2px 2px 8px yellow;
}
span.hamburger{
    background-color: #fff;
    font-size: 25px;
    border: 1px solid black;
    padding: 0px 4px;
}
span.hamburger:hover{
    color: orangered;
    cursor: pointer;
}
div.menu-box{
    position: relative;
    display: inline-block;
    background-color:  #4dff4d;
    width: 100%;
    padding: 4px;
}
nav.menu {
    width: 170px;
    background-color: #f8e890;
    padding: 5px;
    display: none;
    position: absolute;
    z-index: 3;
}
nav.menu ul li{
    list-style-type: none;
    margin-bottom: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: #efd099;
}
nav.menu ul li:hover{
    background-color: #e79e17;
    cursor: pointer;
    font-weight: bolder;
}
div.menu-box:hover .menu{
    display: block;
}
/* mid-part start  */
div.second-part-layer-1:hover{
    background-color: #ffffffae;
    border-radius: 30px;
}
div h2{
    margin: 20px 0px;
    padding: 30px 0;
    text-align: center;
    border-radius: 30px;
    background-color:  #cc66ff;
}
div.info h3{
    text-decoration: underline;
    font-size: 26px;
    text-decoration-color: red;
    padding: 30px 20px;
}
div p{
    text-align: justify;
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 30px;
    text-indent: 20%;
    padding: 0px 16px;
}
/* button section  */
div.mid-part button{
    padding: 10px;
}
div.mid-part button:hover{
    cursor: pointer;
}
button.staff-list-button{
    background-color:  #00ffcc;
}
button.msg-button{
    background-color: yellow;
}
div.messages{
    display: block;
}
div.staffs{
    display: none;
}
div.msg-staff-box{
    background-color: rgba(252, 209, 129, 0.974);
    border: 6px solid red;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
div.m-s-b-container{
    margin-top: 20px;
    position: relative;
}

/* flex part  */
.messages h3{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px  rgb(10, 10, 164);
}
div.mid-grid {
display: flex;
flex-direction: column;
gap: 20px;
}

div.mid-grid .pr,
div.mid-grid .v,
div.mid-grid .d,
div.mid-grid .h,
div.mid-grid .c 
{
display: flex;
align-items: center; /* Align text and image vertically */
gap: 15px; /* Add spacing between text and image */
border: 1px solid black;
padding: 10px;
}

div.mid-grid img {
height: 150px;
width: 150px;
border: 1px solid black;
}
/* lists */
div.staffs{
padding: 30px; 
box-sizing: border-box;
font-size: 18px;
text-shadow: 1.5px 2px whitesmoke;
}
div.staffs > h3{
color: white;
text-shadow: 3px 2px 2px rgb(19, 19, 19);
font-size: 30px;
}
div.staffs ol{margin: 10px;}
/* end-part */
div.end-part{
background-color: black;
color: #f8e890;
padding: 20px;
line-height: 30px;
}
div.end-part li{
list-style-type: none;
font-weight: bold;
}
div.end-part li:hover{
color: white;
text-shadow: 1px 1px 1px white;
}
div.contact-info{
font-size: 26px;
color: red;
}
